
.about {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about-image img{
    width: 650px;
}

.about .about-tag h1{
    font-size: 50px;
    position: relative;
    bottom: 35px;
} 

.about .about-tag p{
    line-height: 22px;
    width: 600px;
    text-align: justify;
    margin-bottom: 15px;
}

.about .about-tag .about-btn{
    padding: 10px 20px;
    background: black;
    color: aliceblue;
    text-decoration: none;
    position: relative;
    top: 30px;
}